# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env

# Logs and temporary files
*.log
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db

# Jupyter/IPython
.ipynb_checkpoints/

# VSCode / PyCharm settings (optional)
.vscode/
.idea/
